.todo-labels > * {
  display: inline-block;
  min-width: 80px;
  margin-inline-end: 2px;
  padding: 2px 4px;
  border-radius: var(--border-radius);
  font-size: 12px;
  text-align: center;
  color: white;
  user-select: none;
}

.todo-labels:not(:empty) {
  margin-bottom: 5px;
}

.todo-wrapper {
  padding: 4px;
}

.todo {
  display: flex;
  align-items: center;
  border-radius: var(--border-radius);
  padding: 10px 5px;
  background-color: #fff;
  border-bottom: 1px solid #ccc;
}

.todo:hover {
  background-color: #edeff0;
}

.todo-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.todo-details-wrapper {
  flex: 1;
  display: flex;
}

.todo-details {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.todo-completed {
  margin-right: 15px;
  width: 25px;
  height: 25px;
}

.todo-name {
  font-size: 14px;
}

.todo-buttons-wrapper {
  align-self: baseline;
  display: flex;
  visibility: collapse;
}

.todo.dropdown-open .todo-buttons-wrapper,
.todo:hover .todo-buttons-wrapper {
  visibility: visible;
}

.todo-dropdown-wrapper {
  position: relative;
}

.todo-label-button,
.todo-dates-button,
.todo-delete-button {
  user-select: none;
  margin-inline-start: 4px;
  border: 1px rgb(226, 228, 230) solid;
  border-radius: var(--border-radius);
  width: 25px;
  height: 20px;
  font-size: 12px;
  text-align: center;
  cursor: pointer;
  line-height: 20px;
}

.todo-label-button:hover,
.todo-dates-button:hover,
.todo-delete-button:hover {
  background-color: #fff;
}

.todo-edit-name {
  padding-left: 4px;
  font-size: inherit;
}

.todo-footer {
  color: #5d5d5d;
  margin-top: 10px;
  font-size: 11px;
}

.todo-footer:empty {
  display: none;
}
